<app-header></app-header>
<div id="events-content">
  <div class="row">
    <div id="welcome-party" class="col-md 6 events-square order-1">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/champagne-glass.png">
      </div>
    </div>
    <div id="welcome-party-info" class="col-md 6 events-square order-2">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="w-75">
          <div class="square-title">
            Welcome Party
          </div>
          <div class="divider">
            <h2 class="decorated m-0"><span><img class="logo-event" src="/assets/logo.png"></span></h2>
          </div>
          <div class="square-location">
            <div>October 10, 2020</div>
            <div>TBD - Stay Tuned!</div>
            <div>
              <!-- <a href="https://goo.gl/maps/hZw2ntN3HaXrA5ZU9" target="_blank">75 King St, St.
                Augustine, FL 32084</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="ceremony-info" class="col-md 6 events-square order-2 order-md-1">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="w-75">
          <div class="square-title">
            Ceremony
          </div>
          <div class="divider">
            <h2 class="decorated m-0"><span><img class="logo-event" src="/assets/logo.png"></span></h2>
          </div>
          <div class="square-location">
            <div>October 11, 2020</div>
            <div>The Oldest House</div>
            <div>
              <a href="https://goo.gl/maps/yqXCcmhhRH1rukon9" target="_blank">271 Charlotte St, St. Augustine, FL
                32084</a>
            </div>
            <div class="formal-celebration">(formal attire celebration)</div>
          </div>
        </div>
      </div>
    </div>
    <div id="ceremony" class="col-md 6 events-square order-1 order-md-2">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/ceremony.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div id="reception" class="col-md 6 events-square">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/suit.png">
      </div>
    </div>
    <div id="reception-info" class="col-md 6 events-square">
      <div id="ceremony-info" class="col-md 6 events-square">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div class="w-75">
            <div class="square-title">
              Reception
            </div>
            <div class="divider">
              <h2 class="decorated m-0"><span><img class="logo-event" src="/assets/logo.png"></span></h2>
            </div>
            <div class="square-location">
              <div>October 11, 2020</div>
              <div>Lightner Museum</div>
              <div>
                <a href="https://goo.gl/maps/hZw2ntN3HaXrA5ZU9" target="_blank">75 King St, St.
                  Augustine, FL 32084</a>
              </div>
              <div class="formal-celebration">(formal attire celebration)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>