<app-header></app-header>
<div class="event-info">In an effort to celebrate our newest addition with all of our family and friends, we will be hosting a baby shower in both West Virginia and Washington, D.C. We hope to see you at one of the events below... OR BOTH!</div>
<div class="event-bk"></div>
<div class="container-fluid" id="events-content">
  <div class="row mt-2">
    <div class="col-md-6">
      <mat-card class="event-card text-center">
        <img src="/assets/Invite_DC.png" class="event-invite" />
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="event-card text-center">
        <img src="/assets/Invite_WV.png" class="event-invite" />
      </mat-card>
    </div>
  </div>
</div>