<app-header></app-header>
<div id="events-content">
  <div class="row">
    <div id="welcome-party" class="col-md 6 events-square order-1">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/welcome.png">
      </div>
    </div>
    <div id="welcome-party-info" class="col-md 6 events-square order-2">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <div>
          <div class="square-title">
            Welcome Party
          </div>
          <div class="divider">
            <h2 class="decorated"><span><i id="welcome-icon" class="fab fa-jedi-order"></i></span></h2>
          </div>
          <div class="square-location">
            <div>8:00 PM, October 10, 2020</div>
            <div>Lightner Museum</div>
            <div>
              <a href="https://goo.gl/maps/hZw2ntN3HaXrA5ZU9" target="_blank">75 King St, St.
                Augustine, FL 32084</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="ceremony-info" class="col-md 6 events-square order-2 order-md-1">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <div>
          <div class="square-title">
            <i class="far fa-gem ceremony-icons"></i><span class="pr-5 pl-5">Ceremony</span><i
              class="far fa-gem ceremony-icons"></i>
          </div>
          <hr style="width: 100%; background: #B7DBF3">
          <div class="square-location">
            <div>8:00 PM, October 10, 2020</div>
            <div>Lightner Museum</div>
            <div>
              <a href="https://maps.google.com/maps?saddr=Current+Location&daddr=75%20King%20St%20St.%20Augistine%20FL%2032084"
                target="_blank">75 King St, St.
                Augustine, FL 32084</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="ceremony" class="col-md 6 events-square order-1 order-md-2">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/ceremony.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div id="reception" class="col-md 6 events-square">
      <div class="h-100 d-flex justify-content-center align-items-center">
        <img src="/assets/champagne-glass.png">
      </div>
    </div>
    <div id="reception-info" class="col-md 6 events-square">
      <div id="ceremony-info" class="col-md 6 events-square">
        <div class="h-100 d-flex justify-content-center align-items-center">
          <div>
            <div class="square-title">
              <i class="far fa-gem ceremony-icons"></i><span class="pr-5 pl-5">Reception</span><i
                class="far fa-gem ceremony-icons"></i>
            </div>
            <hr style="width: 100%; background: #DDC5E7">
            <div class="square-location">
              <div>8:00 PM, October 10, 2020</div>
              <div>Lightner Museum</div>
              <div>
                <a href="https://maps.google.com/maps?saddr=Current+Location&daddr=75%20King%20St%20St.%20Augistine%20FL%2032084"
                  target="_blank">75 King St, St.
                  Augustine, FL 32084</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>