<app-header></app-header>
<div class="backdrop" [@fadeInOut]>
  <p class="text">RSVP</p>
</div>
<!-- <div class="row" *ngIf="!showForm">
  <div class="col-xs-12 col-md-4"></div>

  <div class="col-xs-12 col-md-4 mt-3">
    <div class="text-center password-text">
      Invite Password
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
      </div>
      <input #passBox type="password" class="form-control" placeholder="Password" aria-label="Password"
        aria-describedby="basic-addon1" (keyup)="checkPassword(passBox.value)">
    </div>
  </div>

  <div class="col-xs-12 col-md-4"></div>
</div>
<div *ngIf="showForm" class="embed-responsive embed-responsive-1by1">
  <iframe class="embed-responsive-item" src="https://caroleandcolt.app.rsvpify.com/?embed=1&amp;js=1"
    allowfullscreen></iframe>
</div> -->
<div class="row m-0 p-0">
  <div class="col-12 m-0 p-0 vaccine-text">
    For the safety and enjoyment of all guests, we ask that everyone attending be fully vaccinated.
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-12 m-0 p-0">
    <iframe
      src="https://carolecoltwedding.rsvpify.com/rsvp-page-preview/49710?embed=1&signature=dd5b534ae13f5a210250e6a3b2d38874254c95919bc625baf28846f543b94a8d"
      style="width: 100%; height: 100%; min-height: 800px; overflow: hidden; border: none;"></iframe>
  </div>
</div>
