<app-header></app-header>
<div class="message">
  Sorry, your browser does not support CSS Grid. 😅
</div>
<div class="body">
  <section class="section">
    <h1 class="text-center">Wedding Highlights</h1>
    <div class="grid">
      <div class="item">
        <div class="item__details">
          <a href="https://youtu.be/HM8cFmgASdw" target="_blank" class="item_link">2021-2020 Highlight Video</a>
        </div>
      </div>
      <div class="item item--large">
        <div class="item__details">
          <a href="https://photos.app.goo.gl/Ti4yVg4XGf54GQCt7" target="_blank" class="item_link">2021 Wedding Photos</a>
        </div>
      </div>
      <div class="item item--medium">
        <div class="item__details">
          <a href="https://youtu.be/AykrxtWCcUE" target="_blank" class="item_link">2021 Ceremony Video</a>
        </div>
      </div>
      <div class="item item--large">
        <div class="item__details">
          <a href="https://youtu.be/jA2DvM7dIgc" target="_blank" class="item_link">2021 First Dance</a>
        </div>
      </div>
      <div class="item item--full">
        <div class="item__details">
          <a href="https://youtu.be/ECFspfiXhLA" target="_blank" class="item_link">2020 First Dance</a>
        </div>
      </div>
      <div class="item item--medium">
        <div class="item__details">
          <a href="https://youtu.be/SZi-csfB9Rc" target="_blank" class="item_link">2020 Ceremony Video</a>
        </div>
      </div>
      <div class="item">
        <div class="item__details">
          <a href="https://photos.app.goo.gl/R2ZZUtpgVxH7u17c8" target="_blank" class="item_link">2020 Wedding Photos</a>
        </div>
      </div>
    </div>
  </section>
</div>