<app-header></app-header>
<div class="row">
  <div class="col-xs-12 col-md-7 p-0">
    <div id='map' class="w-100 full"></div>
  </div>
  <div class="col-xs-12 col-md-5 p-0">
    <div class="full location-content">
      <div class="d-flex justify-content-center selected-border">
        <div id="all-bk" (click)="filter('all')" title="Show All" class="selected pointer">
          <i class="eye-icon m-2 fas fa-eye-slash"></i>
        </div>
        <div id="museum-bk"  (click)="filter('museum')" title="Museums" class="pointer">
          <img class="m-2" id="museum" src="assets/img_trans.gif" width="1" height="1">
        </div>
        <div id="bar-bk"  (click)="filter('bar')" title="Drinks" class="pointer">
          <img class="m-2" id="bar" src="assets/img_trans.gif" width="1" height="1">
        </div>
        <div id="lodging-bk"  (click)="filter('lodging')" title="Lodging" class="pointer">
          <img class="m-2" id="lodging" src="assets/img_trans.gif" width="1" height="1">
        </div>
        <div id="veterinary-bk"  (click)="filter('veterinary')" title="Pet Needs" class="pointer">
          <img class="m-2" id="vet" src="assets/img_trans.gif" width="1" height="1">
        </div>
        <div id="beach-bk"  (click)="filter('beach')" title="Beaches" class="pointer">
          <img class="m-2" id="beach" src="assets/img_trans.gif" width="1" height="1">
        </div>
      </div>
      <div id="{{item.properties.id}}" class="location" *ngFor="let item of markerData | markerFilter:filterBy;">
        <a class="go-to" href="{{ item.properties.url }}" target="_blank"><i class="fas fa-arrow-right"></i></a>
        <h4 class="location-title hover" (click)="flyTo(item)">{{ item.properties.name }}</h4>
        <p>{{ item.properties.clean }}</p>
      </div>
    </div>
  </div>
</div>