<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between pt-0 pb-0 nav-height w-100">
  <div id="header-content" class="container-fluid pl-2 pr-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <a class="nav-link float-right" href="/about-us">About Us</a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link float-right" href="/party">Wedding Party</a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link float-right" href="/rsvp">RSVP</a>
        </li>
      </ul>
    </div>
    <a href="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"><img class="logo" src="/assets/logo.png"></a>
    <div class="navbar-collapse collapse dual-nav w-50 order-2">
      <ul class="navbar-nav w-100">
        <li class="nav-item w-100">
          <a class="nav-link right-links" href="/lodging">Lodging</a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link right-links" href="/explore">Explore</a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link right-links" href="/registry">Registry</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
