<nav class="navbar navbar-light navbar-expand-md bg-light justify-content-between pt-0 pb-0 nav-height w-100">
    <div id="header-content" class="container-fluid pl-2 pr-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-nav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    <a class="nav-link text-center" routerLink="/about" routerLinkActive="active">About Us</a>
                </li>
                <li class="nav-item w-100">
                    <a class="nav-link text-center" routerLink="/rsvp">Pilot turns TWO!</a>
                </li>
                <!-- <li class="nav-item w-100">
                    <a class="nav-link text-center" routerLink="/registry">Babylist Registry</a>
                </li> -->
            </ul>
        </div>
        <a routerLink="/" class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25"><img class="logo"
                src="/assets/logo.png" /></a>
        <div class="navbar-collapse collapse dual-nav w-50 order-2">
            <ul class="navbar-nav w-100">
                <li class="nav-item w-100">
                    <a class="nav-link text-center" routerLink="/highlights">Wedding Highlights</a>
                </li>
                <!-- <li class="nav-item w-100">
            <a class="nav-link text-center" routerLink="/party">Wedding Party</a>
          </li> -->
                <li class="nav-item w-100">
                    <a class="nav-link text-center" routerLink="/gallery">Gallery</a>
                </li>
            </ul>
        </div>
    </div>
</nav>