#full-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.behind {
  z-index: -1;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 10em;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  font-size: 3em;
}

.controls {
  position: absolute;
}

@media only screen and (max-width: 600px) { 
  .behind {
    display: none;
  }
}