<app-header></app-header>
<div>
  <div class="timeline">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(/assets/timeline-1.jpg);"
          data-year="July 2015">
          <div class="swiper-slide-content"><span class="timeline-year">July - 2015</span>
            <h4 class="timeline-title">"Want my shirt?"</h4>
            <p class="timeline-text">Carole and Colt met in a co-ed basketball league in Washington, D.C. Colt was entranced by her stellar basketball skills, and Carole was just surprised by Colt’s method of coaxing her out on a date - <a href="https://howtheyasked.com/carole-and-colt/" target="_blank">EMAIL!</a></p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(/assets/timeline-2.png);"
          data-year="February 2016">
          <div class="swiper-slide-content"><span class="timeline-year">February - 2016</span>
            <h4 class="timeline-title">All Body, No Legs</h4>
            <p class="timeline-text">Happening only after a short time together, Colt surprised Carole with a puppy on Valentine’s Day! After many joyful tears, and the help of their friend Craig, Zoey was welcomed into the family. She remains a huge part of their life and can be found napping, snacking, or bugging her dog-uncle (Duncle) Simon. You can follow her shenanigans on <a href="https://www.instagram.com/allbody_nolegs/" target="_blank">Instagram!</a></p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(/assets/timeline-3.png);"
          data-year="July  2016">
          <div class="swiper-slide-content"><span class="timeline-year">July - 2016</span>
            <h4 class="timeline-title">The Big Move</h4>
            <p class="timeline-text">After only a year of dating, Carole and Colt decided to take a huge leap and move in together. They lived in Arlington, VA for just under two years, sharing laughs and great times with family and friends.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(/assets/timeline-4.png);"
          data-year="May  2018">
          <div class="swiper-slide-content"><span class="timeline-year">May - 2018</span>
            <h4 class="timeline-title">The Bigger Move… to CLT!</h4>
            <p class="timeline-text">Becoming tired of crazy traffic and busy streets, Carole and Colt decided to take their talents to North Carolina. After visiting Charlotte for a friend’s wedding, they were interested in a new kind of crazy and busy. In May of 2018 they made the move to the Queen City to start their new adventure!</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(/assets/timeline-5.png);"
          data-year="December 2018">
          <div class="swiper-slide-content"><span class="timeline-year">December - 2018</span>
            <h4 class="timeline-title">The Proposal… FINALLY</h4>
            <p class="timeline-text">In the rain and chilled air, Colt finally popped the question on December 1st, 2018!</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>