<app-header></app-header>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="His">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let card of weddingPartyHis; let i = index">
        <div id="card-{{i+1}}" class="card" (mouseenter)="animate(i+1)" (mouseleave)="deanimate(i+1)"
          (click)="showModal(i, 'His')">
          <div id="border-{{i+1}}" class="card-border"></div>
          <div id="overlay-{{i+1}}" class="overlay">
            <div id="shine-{{i+1}}" class="card-shine">
              <div></div>
            </div>
          </div>
          <div id="caption-{{i+1}}" class="card-caption">
            <h3 class="card-title">{{card.name}}</h3>
            <p *ngIf="showDesc[i]" class="card-description" [@slideInOut]>{{card.title}}</p>
            <p class="card-description-mobile">{{card.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Hers">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let card of weddingPartyHers; let i = index">
        <div id="card-{{i+1}}" class="card" (mouseenter)="animate(i+1)" (mouseleave)="deanimate(i+1)"
          (click)="showModal(i, 'Hers')">
          <div id="border-{{i+1}}" class="card-border"></div>
          <div id="overlay-{{i+1}}" class="overlay">
            <div id="shine-{{i+1}}" class="card-shine">
              <div></div>
            </div>
          </div>
          <div id="caption-{{i+1}}" class="card-caption">
            <h3 class="card-title">{{card.name}}</h3>
            <p *ngIf="showDesc[i]" class="card-description" [@slideInOut]>{{card.title}}</p>
            <p class="card-description-mobile">{{card.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>{{activeInfo}}</h2>
      <p class="active-desc">{{activeDescription}}</p>
      <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
        <rect x="0" y="0" fill="none" width="100%" height="100%" rx="3" ry="3"></rect>
      </svg>
    </div>
  </div>
</div>
